<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="robots" content="index, nofollow">
    <meta name="googlebot" content="index, nofollow">
    <meta name="description" content="Dr. Kovács Anna gyermek- és felnőttfogorvos">
    <meta property="og:title" content="Dr. Kovács Anna gyermek- és felnőttfogorvos">
    <meta property="og:url" content="http://www.pandadent.hu"/>
    <meta property="og:site_name" content="Pandadent"/>

    <meta property="og:description" content="Dr. Kovács Anna gyermek- és felnőttfogorvos">
    <meta property="og:type" content="website">
    <meta property="og:locale" content="hu_HU">
    <meta property="og:image" content="{{data.profile_image.title}}" alt="Dr. Kovács Anna Edit">
    <meta property="og:image:type" content="image/jpeg">
    <meta property="og:image:width" content="300">
    <meta property="og:image:height" content="300">

    <title>{{ data.title.title }}</title>
    <link rel="icon" href="/dentist.ico?v=1.1">
    <link rel="stylesheet" type="text/css" href="jquery.fullPage.css"/>
    <link rel="stylesheet" type="text/css" href="bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="bootstrap-theme.min.css"/>
    <link rel="stylesheet" type="text/css" href="hover.min.css"/>
    <link rel="stylesheet" type="text/css" href="index.css"/>
    <script src="jquery-3.2.0.js"></script>
    <script type="text/javascript" src="jquery.fullPage.js"></script>
    <script type="text/javascript" src="bootstrap.min.js"></script>
    <script type="text/javascript" src="sheet-to-json.js"></script>
    <script defer src="fontawesome-all.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>
  <body>
    <header>
      <div class="">
        <div class="fixed-header">
          <div class="">
            <h1>{{ data.title.title }}</h1>
          </div>
          <div class="hamburger">
            <i class="fas fa-bars"></i>
          </div>
        </div>
        <!-- <nav class="menu navbar">
          <ul id="myMenu" class="nav">
            <li data-menuanchor="home" class="btn hvr-grow"><a href="#home">Kezdölap</a></li>
            <li data-menuanchor="services" class="btn hvr-grow"><a href="#services">Szolgáltatások</a></li>
            <li data-menuanchor="references" class="btn hvr-grow"><a href="#references">Referenciák</a></li>
            <li data-menuanchor="pricing" class="btn hvr-grow"><a href="#pricing">Árlista</a></li>
            <li data-menuanchor="contact" class="btn hvr-grow"><a href="#contact">Elérhetöség</a></li>
          </ul>
        </nav> -->
        <nav class="menu navbar">
          <nav class="nav">
            <div class="btn hvr-grow" data-anchor="home">
              <a href="#home">Kezdölap</a>
            </div>
            <div class="btn hvr-grow" data-anchor="services">
              <a href="#services">Szolgáltatások</a>
            </div>
            <div class="btn hvr-grow" data-anchor="references">
              <a href="#references">Referenciák</a>
            </div>
            <div class="btn hvr-grow" data-anchor="pricing">
              <a href="#pricing">Árlista</a>
            </div>
            <div class="btn hvr-grow" data-anchor="contact">
              <a href="#contact">Elérhetöség</a>
            </div>
          </nav>
        </nav>
      </div>

    </header>
    <div id="fullpage">
    	<div class="section">
        <div class="profile">
          <div class="col-sm-10 col-md-5 col-md-offset-1 hero">
            <img class="profile-image" src="{{data.profile_image.title}}" alt="{{data.name.title}}">
          </div>
          <div class="col-sm-10 col-md-5 profile-content">
            <h2>{{data.name.title}}</h2>
            <p>{{data.name.content}}</p>
          </div>
        </div>
      </div>
    	<div class="section">
        <div class="services">
          <h2>Szolgáltások</h2>
          <div class="col-sm-12">
            <img class="service-icon" src="tooth_whitening.png" alt="">
            <span>Fogfehérítés</span>
          </div>
          <div class="col-sm-12">
            <img class="service-icon" src="endodontia.png" alt="">
            <span>Gyökérkezelés</span>
          </div>
          <div class="col-sm-12">
            <img class="service-icon" src="paedodontics.png" alt="">
            <span>Gyermekfogászat</span>
          </div>
          <div class="col-sm-12">
            <img class="service-icon" src="prosthetic_dentistry.png" alt="">
            <span>Fogpótlás</span>
          </div>
          <div class="col-sm-12">
            <img class="service-icon" src="conservative_dentistry.png" alt="">
            <span>Konzerváló fogászat</span>
          </div>
          <div class="col-sm-12">
            <img class="service-icon" src="wisdom_tooth.png" alt="">
            <span>Bölcsességfog eltávolítás</span>
          </div>
        </div>
        <!-- <div class="col-sm-10 col-md-5 col-md-offset-1">
          <div class="">
            <h2>{{data.service_1.title}}</h2>
            <p>{{data.service_1.content}}</p>
          </div>
        </div>
        <div class="col-sm-5 col-md-5">
          <div class="">
            <h2>{{data.service_2.title}}</h2>
            <p>{{data.service_2.content}}</p>
          </div>
        </div> -->
      </div>
    	<div class="section">
        <div class="col-sm-10 col-md-10 col-sm-offset-1 col-md-offset-1">
          {{#each images}}
          <div class="slide">
            <div class="box">
              <img src="{{this.content}}" alt="">
            </div>
          </div>
          {{/each}}
        </div>
      </div>
      <div class="section">
        <div class="col-sm-5 col-md-5 col-sm-offset-1 col-md-offset-1">
          <div class="">
            <h2>Árlista</h2>

          </div>
        </div>
        <div class="col-sm-5 col-md-5">
          <div class="">
            <img src="http://via.placeholder.com/400x300" alt="">
          </div>
        </div>
      </div>
    	<div class="section">
        <div class="col-sm-5 col-md-5 col-sm-offset-1 col-md-offset-1">
          <div class="">
            <h2>Elérhetöség</h2>

          </div>
        </div>
        <div class="col-sm-5 col-md-5">
          <div class="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2711.353546928178!2d18.412383415286516!3d47.19009222465059!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4769f7aff2abcc1b%3A0xef0980dbdaeee56b!2zU3rDqWtlc2ZlaMOpcnbDoXIsIFTDoXZpcmRhIHUuIDMxLCA4MDAw!5e0!3m2!1sen!2shu!4v1519394519924" width="100%" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
    <footer>
      <div class="footer">
        <p>Lábléc</p>
      </div>
    </footer>
    <script src="/index.js"></script>
  </body>
</html>
